.h3styles {
    text-align: center;
    justify-content: center;
    color: black;
    font: bolder;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}




.accBox {
    height:3em;
    padding: 1em;
    width: 15em;
    margin: 1em;
    background-color: lightblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}